<!-- sidebar start-->
	<nav class="sidebarMenu">
	 <ul>
	    <li>
	       <a class="Menu" routerLink="../home">
	          <i class="fa fa-home"></i><h6>Home</h6>
	       </a>
	    </li>
	    <li>
	       <a class="Menu" routerLink="/myCourses">
	         <i class="fa fa-user"></i><h6>My courses</h6>
	       </a>
	    </li>
	    <li>
	       <a class="Menu" href="#">
	         <i class="fa fa-user"></i><h6>My classrooms</h6>
	       </a>
	    </li>
	    <li>
	       <a class="Menu" routerLink="/teacherDashboard">
	        <i class="fa fa-chalkboard-teacher"></i><h6>Teacher dashboard</h6>
	       </a>
	    </li>
	    <li>
	      <a class="Menu" routerLink="/parentDashboard">
	        <i class="fa fa-user-edit"></i><h6>Parent dashboard</h6>
	      </a>
     </li>
     <li>
      <a class="Menu" href="#">
        <i class="fa fa-save"></i><h6>Saved courses</h6>
      </a>
      </li>
      <li>
        <a class="Menu" href="#">
            <i class="fa fa-check-square"></i><h6>accomplished courses</h6>
        </a>
      </li>
	 </ul>
	</nav>
	<!-- sidebar end-->