<div class="container custom-404">
  <div class="not-found-bg">
    <img src="assets/404error.png">
  </div>

  <div class="search">
    <!-- <div class="search-wrapper"> -->
      <div class="search-help-text">
        <img src="assets/man404.png">
        <!-- <p>We are here to help you out</p> -->
        <h4><strong>Sorry!</strong> The page you are looking for was moved, removed, renamed or might never existed!</h4>
      </div>

      <div class="input-box">
        <button id="back" type="button" class="btn"(click)=  "backClicked()"> go back </button>

        <button id="home" type="button" class="btn" (click)=  "homeClicked()"> go home </button>
    </div>

    <!-- </div> -->

  </div>
</div>