<!-- 
<nav class="navbar navbar-expand-md navbar-dark bg-fade fixed-top">
  <a class="navbar-brand text-uppercase" id="logo" >Elearning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-md-2">
          <a  routerLink="/register"> <button class="btn" type="button" id="btnSignup">SignUp </button></a> 
        </div>
          <div class="col-md-2">
  
            <a  routerLink="/login"> <button class="btn" type="button" id="btnLogin"> Login </button> </a>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3" style="color: #f7882f;">E-learning</h1>
    <p class="lead">An integrated set of interactive online services that provides the teachers, learners, parents with information, tools and resources to support and
      enhance educational delivery and management; Aiming to access educational curriculum outside of a traditional classroom. </p>
  </div>
</div>

<section class="module parallax parallax-1" data-type="background" data-speed="10">
  <div class="parallax-container">
    <h1>Teacher</h1>
  </div>
</section>

<section  class="module content">
  <div class="parallax-container">
    <h2>Teacher</h2>
    <p>You can now create your own classroom and upload you own contents; videos, lessons and quizzes too. let your students enroll in your courses for free. </p>
  </div>
</section>

<section class="module parallax parallax-2" data-type="background" data-speed="10">
  <div class="parallax-container">
    <h1>Student</h1>
  </div>
</section>

<section class="module content">
  <div class="parallax-container">
    <h2>Student</h2>
    <p>Gain more information by joining classes and taking courses. </p>
  </div>
</section>

<section class="module parallax parallax-3" data-type="background" data-speed="10">
  <div class="parallax-container">
    <h1>Parent</h1>
  </div>
</section>

<section class="module content">
  <div class="parallax-container">
    <h2>Parent</h2>
    <p> Help your child with what they’re learning in school or even help them learn something completely new, and all with you permisson.</p>
  </div>
</section> -->


<header id="home">
        <div class="overlay"></div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="javascript:void(0)">
                    <h3 class="my-heading ">E-learning System</h3>
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars mfa-white"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
					 <li class="nav-item">
                            <a  routerLink="/register"> <button class="btn" type="button" id="btnSignup">SignUp </button></a> 

                        </li>
                        <li class="nav-item">
                            <a  routerLink="/login"> <button class="btn" type="button" id="btnLogin"> Login </button> </a>

                        </li>

                    </ul>

                </div>

            </div>
        </nav>

        <section class="cta contact-wrap " id="contact">

                <!-- <div class="container"> -->
                    <!-- <div class="row"> -->
                        <!-- <div class="col-xl-9 mx-auto  wow zoomIn"> -->

                                <!-- <div class="tophead" > -->
                    
                                        <div class="container-fluid">
                                            <div class="row img-fluid">
                                                <div class="col-md-7 ">
                                                    <h1 class="title-main wow fadeInLeft">E-learning System</h1>
                                                    <h3 class="subtitle-main wow fadeInUp" data-wow-duration="1.1s">  
                                                        An integrated set of interactive online services that provides the teachers, learners, parents with information, tools and resources to support and
                                                        enhance educational delivery and management; Aiming to access educational curriculum outside of a traditional classroom. 
                                                        </h3>
                                                    <!-- <div class="top-btn-block wow fadeInUp data-wow-duration="2.5s">
                                                        <a href="javascript:void(0)" class="btn-explore ">Explore</a>
                                                        <a href="javascript:void(0)" class="btn-account ">Create Account</a> -->
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- </div> -->

                                        
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
    
            </section>
        
        <!-- </div> -->
        <div class="sesgoabajo"></div>
    </header>
    <main>
        <section class="overview-wrap" id="overview">
            <div class="container">
                <div class="contenedor">
                    <h2 class="title-overview wow fadeInUp">Overview</h2>
                    <p class="subtitle-overview wow fadeInUp">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus velit nam id purus tellus hendrerit mi dapibus</p>
                    <div class="row">
                        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
                            <div class="overview-box mx-auto">
                                <!-- <div class="features-icons-icon d-flex"> -->
                                        <i class="fas fa-chalkboard-teacher fa-5x " style="color:#f9af5a"></i>
                                <!-- </div> -->
                                <h5>Teacher</h5>
                                <p class=" mb-0">
                                    You can now create your own classroom and upload you own contents; videos, lessons and quizzes too. let your students enroll in your courses for free.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
                            <div class="overview-box mx-auto">
                                        <i class="fas fa-graduation-cap fa-5x"style="color:#f9af5a"></i>
                            <h5>Student</h5>
                                <p class=" mb-0">
                                    Gain more information by joining classes and taking courses.                                 </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
                                <div class="overview-box mx-auto">
                                            <i class="fas fa-users fa-5x"style="color:#f9af5a"></i>
                                    <h5>Parent</h5>
                                    <p class=" mb-0">
                                        Help your child with what they’re learning in school or even help them learn something completely new, and all with you permisson.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
                                    <div class="overview-box mx-auto">
                                            <i class="fas fa-child fa-5x"style="color:#f9af5a"></i>
                                            <h5>Child</h5>
                                        <p class=" mb-0">
                                        </p>
                                    </div>
                                </div>
                       <!-- <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
                            <div class="overview-box mx-auto">
                                <div class="features-icons-icon d-flex">
                                    <i class="fa fa-drupal fa-5x drupal m-auto"></i>
                                </div>
                                <h5>Child</h5>
                                <p class=" mb-0">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo ornare!
                                </p>
                            </div>
                        </div> -->
                    </div>

                  
                </div>
            </div>
        </section>

        <section class="galeria">
            <div class="sesgoarriba"></div>
            <div class="imagenes">
                <img src="https://www.soas.ac.uk/blogs/study/wp-content/uploads/2019/03/books-1204029_1920.jpg" alt="" class="img-fluid">
				 <div class="enmica">
                    <h2>Never Stop Learning! <br>
                            Get personalized course recommendations, <br>
                            Test your skills and more.
                    </h2>
                </div>
            </div>
           
            <div class="sesgoabajo"></div>
        </section>

        <!--latest post-->
        <section class="blog-wrap" id="blog">            
            <div class="container-fluid">
                 <h2 class="title-blog wow fadeInUp">Top courses</h2>
                    <p class="subtitle-blog wow fadeInUp">There are various kinds of courses available. Courses serve a multitude of purposes for different student to provide essential or additional study. There are courses in a wide variety of subjects, from music to software engineering. The variety of different courses can be overwhelming - don't let it stop you! Start by looking at the top courses listed below.</p>
                <div class="row">

                    <div *ngFor="let course of (topCourses ? topCourses.slice(0,3): [])" class="col-md-4 wow bounceInUp">
                        <div class="card">
                            <figure class="text-center">
                                <img src="https://images.pexels.com/photos/1432942/pexels-photo-1432942.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid">
                            </figure>
                            <div class="card-body">
                                <h5 class="card-title">{{course.title}}</h5>
                                <p class="card-text"> {{course.description}} </p>
                                <a routerLink="/login" class="aref">Read more</a>
                              </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>


    </main>

  
    
    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">               
                <div class="col-lg-12 text-center  my-auto ">                  
                    <p class="mb-4 mb-lg-0">© E_learning Project Team 2019</p>
                </div>                 
            </div>
        </div>
    </footer>
