body{
  background-color: #F4F7F6;
  padding-top: 7%;
}

.descriptionAndName{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 0;
    background-color: rgba(107,122,143,0.7);
    box-shadow: 0px 0pc 10px rgba(220,199,170,0.6);
    padding-bottom: 30px;
    padding-top: 50px;
}
.media img{
    box-shadow: 0px 0pc 10px rgba(220,199,170,0.6);
    /* width: 200px; */
}
#courseName{
    color:black;
    /* text-shadow: 0px 0pc 10px rgb(107,122,143);; */
    font-size: 30px;
    /* margin-left: 5%; */
    margin-bottom: 20px;
}
.img{
  height: 200px;
}
.course-container{
    width: 60%;
  background-color: rgba(220,199,170,0.1);
  box-shadow: 0px 0pc 10px rgba(220,199,170,0.6);
  padding-top: 20px;
  padding-bottom: 70px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
  margin-top: 0;
}

.title{
  color: #F7882F;
  font-size: 23px;
}

.wrapper{
  width:70%;
}
@media(max-width:992px){
 .wrapper{
  width:100%;
} 
}
.panel-heading {
  padding: 0;
	border:0;
}
.panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
}
.panel-collapse{
    margin-bottom: 30px;
}

li{
    padding: 10px;
    color:rgb(107,122,143);

}
p{
  text-align: justify;
}

.dropdown-menu .dropdown-item{
  color: #f7882f;
}
.dropdown-item:hover{
color: #f7882f;
  /* background-color: red; */
}
div .category .dropdown-item{
  border-left: 5px solid #6b7a8f;
}
div .dropdown-menu .dropdown-item:hover{
background-color: rgba(131,149,175,0.5);  
}

div .category .dropdown-item:hover{
background-color: rgba(131,149,175,0.5);
border-left: 5px solid #f7882f;
}

#enrollAndOption{
  /* margin-left: 2%; */
  margin-top: 20%;
  display: flex;
  flex-direction: row;
}

/* #dropdownMenuLink{
  color: #F7882F;
  background-color: #F7882F;
} */

#dropdownMenuLink{
  border-radius: 7px;
  background-color: white;
  color:#f7c331;
  width: 130%;
  transition: all .5s ease;
}

#dropdownMenuLink:hover{
  color:#f7c331;
  text-decoration-line: none;
  box-shadow:0 0 5px #f7c331;
}

.enrollBtn{
  border-radius: 7px;
  /* color: white; */
  color: #F7882F;
  transition: all .5s ease;
  width: 100px;
 
}

.enrollBtn:hover{
  background-color:#f7c331;
  text-decoration-line: none;
  color: white; 
  box-shadow:0 0 3px #f7c331;
}

.enrollBtn:focus{
  /* outline: none; */
    outline: 0 !important;
    box-shadow: none;
}