<app-navbar-component></app-navbar-component>
<app-sidebar-component></app-sidebar-component>
<div class="parallax" [style.background-image]="'url(' +img +')'"></div>

<div class="modal fade" id="myModal3">
  <div class="modal-dialog modal-ku">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Student</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form method="post">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <select class="btn btn-light dropdown-toggle" name="gender">
                <option value="userid">User ID</option>
                <option value="username">User Name</option>
              </select>
            </div>
            <input type="text" class="form-control col-md-6" aria-label="Text input with dropdown button"
              placeholder="User ID OR User Name" name="add_student" required>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <input type="submit" value="Add" class="btn btn-dark">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="photoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Change Classroom Photo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form #imgForm="ngForm" (ngSubmit)="uploadPicture(imgForm)">
          <div class="col-11">
            <input type="file" class="form-control" (change)="selectFile($event)">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal" #closeBtn4>Close</button>
            <input type="submit" value="Change" class="btn btn-create">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container emp-profile" style="background-color: #F4F7F6;">
  <button mat-stroked-button style="background-color:black;color: white;margin-left:35%;margin-bottom: 3%;" data-toggle="modal"
    data-target="#photoModal">Change Classroom Photo
  </button>
  <mat-card style="box-shadow:0 0 10px rgba(79, 67, 81, 0.3);">
    <mat-card-title>
      <strong> Classroom Name: </strong> <span class="ml-3" style="color:orange;"> {{classroom.classroomName}}</span>
    </mat-card-title>
    <mat-card-content>
      <div class="row ml-5 mt-5">
        <label for="class_code" class="mt-2">Passcode:</label>
        <input id="class_code" class="form-control col-4" type="text" name="classcode" value="{{classroom.passCode}}"
          readonly #passcode>
          <button mat-icon-button matTooltip="Copy Passcode" aria-label="copy passcode" (click)="copyInputMessage(passcode)">
            <mat-icon>file_copy</mat-icon>
          </button>

          <button mat-icon-button matTooltip="Update Passcode" aria-label="Update passcode" style="font-size:20px;" (click)="updatePasscode()" >
              <i class="fas fa-redo-alt"></i>
            </button>

      </div>
      <!-- <button id="invite_user" type="button" class="btn mt-4" data-toggle="modal" data-target="#myModal3">
        <img src="assets/adduser.png" id="add_child_photo">
        Invite Student
      </button> -->
    </mat-card-content>
  </mat-card>

  <hr>


  <div class="classroom_body">
    <h5>courses:</h5>
    <br>
    <button id="add_course_toclassroom" type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal4">
      <i class="fas fa-plus"></i>
      Add Course
    </button>

    <div class="modal fade" id="myModal4">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add Course</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <small> Select the Course you want to add from your Courses. if you want to add new course </small>
            <input type="button" (click)="showForm()" value="New course" class="btn">


            <div *ngIf="show">
              <form [formGroup]="courseForm" class="login-form col-xl" (ngSubmit)="addCourse()">

                <div class="form-group">
                  <label class="text-uppercase">Course name</label>
                  <input formControlName="courseName" type="text" class="form-control" placeholder="Course name"
                    [ngClass]="{ 'is-invalid': submitted && g.courseName.errors }" />
                  <div *ngIf="submitted && g.courseName.errors" class="invalid-feedback">
                    <div *ngIf="g.courseName.errors.required">Course name is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="text-uppercase">Detailed title</label>
                  <input formControlName="detaitedTitle" type="text" class="form-control" placeholder="Detailed title"
                    [ngClass]="{ 'is-invalid': submitted && g.detaitedTitle.errors }" />
                  <div *ngIf="submitted && g.detaitedTitle.errors" class="invalid-feedback">
                    <div *ngIf="g.detaitedTitle.errors.required">Detaited title is required</div>
                  </div>
                </div>


                <div class="form-group">
                  <label class="text-uppercase">Category</label>
                  <!-- <select id="New_course_cat"  name="category" [(ngModel)]="newCourse.category" placeholder="Category" > -->
                  <select formControlName="category" type="text" class="form-control" placeholder="Category"
                    [ngClass]="{ 'is-invalid': submitted && g.category.errors }">
                    <option disabled value="">Select level of course</option>
                    <option *ngFor="let category of categories" [value]="category.categoryStr">{{category.categoryStr}}
                    </option>
                  </select>

                  <!-- <input formControlName="category" type="text" class="form-control" placeholder="Category"[ngClass]="{ 'is-invalid': submitted && g.category.errors }" /> -->
                  <div *ngIf="submitted && g.category.errors" class="invalid-feedback">
                    <div *ngIf="g.category.errors.required">Category is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="text-uppercase">Level</label>
                  <select class="form-control" formControlName="level" placeholder="Select a level" type="text"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && g.level.errors }">
                    <option disabled value="">Select level of course</option>

                    <option type="text" value='1'> Beginner</option>
                    <option type="text" value='2'> Intermediate </option>
                    <option type="text" value='3'> Hard </option>

                  </select>
                  <div *ngIf="submitted && g.level.errors" class="invalid-feedback">
                    <div *ngIf="g.level.errors.required">level is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="text-uppercase">Course description</label>
                  <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
                  <textarea formControlName="courseDescription" class="form-control" placeholder="Course Description"
                    row="6" [ngClass]="{ 'is-invalid': submitted && g.courseDescription.errors }"></textarea>
                  <div *ngIf="submitted && g.courseDescription.errors" class="invalid-feedback">
                    <div *ngIf="g.courseDescription.errors.required">Course description is required</div>
                  </div>
                </div>





                <div class="modal-footer">
                  <input type="submit" value="Create course" class="btn btn-create">
                  <button type="button" class="btn btn-dark" (click)=dontShow()>Close</button>
                </div>

              </form>
            </div>

            <hr>
            <form [formGroup]="teacherCourse" class="col-xl" (ngSubmit)="addCourseToClassroom()">

            <div class="form-group">
                <!-- <select id="New_course_cat"  name="category" [(ngModel)]="newCourse.category" placeholder="Category" > -->
                <select formControlName="courseName" type="text" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.courseName.errors }">
                  <option disabled selected value="">Select a course</option>
                  <option *ngFor="let course of courses" [value]="course.courseId">
                    {{course.title}}</option>
                </select>
    
                <!-- <input formControlName="category" type="text" class="form-control" placeholder="Category"[ngClass]="{ 'is-invalid': submitted && g.category.errors }" /> -->
                <div *ngIf="submitted && f.courseName.errors" class="invalid-feedback">
                  <div *ngIf="f.courseName.errors.required">please choose a course</div>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>


          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let course of classroom.courses" class="col-md-12 col-lg-6 col-xl-4">
        <div class="item">
          <div class="card mb-2">
            <img class="card-img-top" src="assets/142963-OT8E78-188.jpg" alt="Card image cap">
            <div class="card-body" style="overflow: auto">
              <a href="#">
                <h4 class="card-title"> {{course.title}}</h4>
              </a>
              <p class="card-text">{{course.description}}</p>
              <hr>
              <button type="button" class="btn btn-danger remove_course">remove</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<app-footer-component></app-footer-component>