<app-navbar-component></app-navbar-component>
<app-sidebar-component></app-sidebar-component>

<div *ngIf="showOverlay" id="overlay">

	<div class="bg-overlay">
		<div class="row overlayContainer">
			<h1>You are not a teacher!</h1>
			<h4>In requesting to be a teacher, you can add courses, classrooms and ask students to join your classrooms
			</h4>
			<!-- <br><br> -->
			<!-- <button type="button" class="btn btn-primary btn-lg">Get Started</button> -->
			<button id="teach" *ngIf="requestnum==1" (click)="beTeacher()" type="button" [disabled]="disable"
				class="btn">{{buttonTeacher}}</button>
			<button id="teach" *ngIf="requestnum==2" (click)="beTeacher()" type="button" disabled class="btn">Request
				Sent</button>

		</div>
	</div>

</div>

<!-- nav pages start -->
<section class="navs_pages" >
	<ul class="nav nav-tabs" >
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#home">My Courses</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#menu1">My Classrooms</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane container active" id="home">
			<div class="container">
				<button id="add_course" *ngIf="isTeacher" type="button" class="btn" data-toggle="modal"
					data-target="#myModal">
					<i class="fas fa-plus"></i>
					Create New Course
				</button>
				<!-- <button id="teach" *ngIf="!isTeacher" (click)= "beTeacher()" type="button" class="btn" >Be a Teacher</button> -->


				<div class="modal fade" id="myModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">New Course Creation</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- Modal body -->
							<div class="modal-body">

								<form [formGroup]="courseForm" class="login-form col-xl" (ngSubmit)="addCourse()">

									<div class="form-group">
										<label class="text-uppercase">Course name</label>
										<input formControlName="courseName" type="text" class="form-control"
											placeholder="Course name"
											[ngClass]="{ 'is-invalid': submitted && g.courseName.errors }" />
										<div *ngIf="submitted && g.courseName.errors" class="invalid-feedback">
											<div *ngIf="g.courseName.errors.required">Course name is required</div>
										</div>
									</div>

									<div class="form-group">
										<label class="text-uppercase">Detailed title</label>
										<input formControlName="detaitedTitle" type="text" class="form-control"
											placeholder="Detailed title"
											[ngClass]="{ 'is-invalid': submitted && g.detaitedTitle.errors }" />
										<div *ngIf="submitted && g.detaitedTitle.errors" class="invalid-feedback">
											<div *ngIf="g.detaitedTitle.errors.required">Detaited title is required
											</div>
										</div>
									</div>


									<div class="form-group">
										<label class="text-uppercase">Category</label>
										<!-- <select id="New_course_cat"  name="category" [(ngModel)]="newCourse.category" placeholder="Category" > -->
										<select formControlName="category" type="text" class="form-control"
											placeholder="Category"
											[ngClass]="{ 'is-invalid': submitted && g.category.errors }">
											<option disabled value="">Select level of course</option>
											<option *ngFor="let category of categories" [value]="category.categoryStr">
												{{category.categoryStr}}</option>
										</select>

										<!-- <input formControlName="category" type="text" class="form-control" placeholder="Category"[ngClass]="{ 'is-invalid': submitted && g.category.errors }" /> -->
										<div *ngIf="submitted && g.category.errors" class="invalid-feedback">
											<div *ngIf="g.category.errors.required">Category is required</div>
										</div>
									</div>

									<div class="form-group">
										<label class="text-uppercase">Level</label>
										<select class="form-control" formControlName="level"
											placeholder="Select a level" type="text" class="form-control"
											[ngClass]="{ 'is-invalid': submitted && g.level.errors }">
											<option disabled value="">Select level of course</option>

											<option type="text" value='1'> Beginner</option>
											<option type="text" value='2'> Intermediate </option>
											<option type="text" value='3'> Hard </option>

										</select>
										<div *ngIf="submitted && g.level.errors" class="invalid-feedback">
											<div *ngIf="g.level.errors.required">level is required</div>
										</div>
									</div>

									<div class="form-group">
										<label class="text-uppercase">Course description</label>
										<!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
										<textarea formControlName="courseDescription" class="form-control"
											placeholder="Course Description" row="6"
											[ngClass]="{ 'is-invalid': submitted && g.courseDescription.errors }"></textarea>
										<div *ngIf="submitted && g.courseDescription.errors" class="invalid-feedback">
											<div *ngIf="g.courseDescription.errors.required">Course description is
												required</div>
										</div>
									</div>





									<div class="modal-footer">
										<input type="submit" value="Create course" class="btn btn-create">
										<button type="button" class="btn btn-dark" data-dismiss="modal" #closeBtn1>Close</button>
									</div>

								</form>


							</div>
						</div>
					</div>
				</div>


				<div class="row">

					<div *ngFor="let course of courses" class="col-md-12 col-lg-6 col-xl-4 mb-4">
						<mat-card>
							<img mat-card-image src="assets\coursepic.png" alt="Photo of a course">
						
						
							<mat-card-title style="color:orange;">
								{{course.title}}
							</mat-card-title>
						
							<mat-card-content>
								<mat-card-subtitle>
									<strong>Description:</strong>	{{course.description|slice:0:100}}<strong *ngIf="course.description.length >= 230">..................</strong>
								</mat-card-subtitle>
								<button mat-stroked-button routerLink="../coursedashboard/{{course.courseId}}" class="cssv"> Edit
									course</button>
							</mat-card-content>
						</mat-card>

					</div>

				</div>
			</div>
		</div>
		<div class="tab-pane container fade" id="menu1">
			<div class="container">
				<!-- <span class="badge">Suggested Courses</span> -->
				<button id="add_class_room" type="button" class="btn" data-toggle="modal" data-target="#myModal2">
					<i class="fas fa-plus"></i>
					Create Classroom
				</button>
				<div class="modal fade" id="myModal2">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">New Classroom Creation</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- Modal body -->
							<div class="modal-body">

								<form [formGroup]="createClassroomForm" class="login-form col-xl"
									(ngSubmit)="addClassroom()">
									<div class="form-group">
										<label>Classroom Title</label>
										<input formControlName="classroomName" type="text" class="form-control"
											placeholder="Classroom title"
											[ngClass]="{ 'is-invalid': submitted && f.classroomName.errors }">
										<div *ngIf="submitted && f.classroomName.errors" class="invalid-feedback">
											<div *ngIf="f.classroomName.errors.required">Classroom name is required
											</div>
										</div>
										<br>
									</div>


									<div class="modal-footer">
										<!-- <button type="submit" value="Create Classroom" class="btn btn-create"> -->
										<button type="submit" class="btn btn-create">Create Classroom</button>
										<button type="button" class="btn btn-dark" data-dismiss="modal" #closeBtn2>Close</button>
									</div>
								</form>



							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div *ngFor="let classroom of classrooms" class="col-md-12 col-lg-6 col-xl-4">
						<mat-card>
							<img mat-card-image src="assets\coursepic.png" alt="Photo of a Classroom">
						
						
							<mat-card-title style="color:orange;">
								{{classroom.classroomName}}
							</mat-card-title>
						
							<mat-card-content>
								
								<button mat-stroked-button routerLink="../classroomdashboard/{{classroom.classroomId}}" class="cssv">Enter
									ClassRoom</button>
							</mat-card-content>
						</mat-card>
						
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
<app-footer-component></app-footer-component>