.container{
    margin-top: 5%;
}
.list-group{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
 

}

a{
    width: 50%;
    height: 10%;
    font-size: 22px;
    color:black;
}

button{
    position: relative;
    /* left: 100%; */
    /* top: -50%; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    background: #f7882f;
    color:#f7c331;
    transition: all .5s ease;
    /* margin-top: 5%; */
}
button:hover{
    background-color:#f7c331;
    text-decoration-line: none;
    color: white;
    box-shadow:0 0 5px #f7882f;}