/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~css-star-rating/css/star-rating';

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.modal-content{
    background-color:rgba(220,199,170, 0.9);
    /* background-color: rgba(107,122,143,0.7); */
    border-color:rgba(220,199,170, 0.9);
    box-shadow:0 0 40px rgba(107,122,143,0.7);;
}
